.cdFooter {
    background-color: $primary;

    a {
        text-decoration: none;
    }

    .cdFooterNewsletterBox {
        background-color: #254229;
        background-image: url('@/assets/img/bg-transparent-3.png');
        background-repeat: repeat-x;
        border-radius: 10px;
        width: 100%;
        aspect-ratio: 1/1;
        padding: 40px;

        .cdInputGroup {
            width: 100%;

            .cdInputGroupText {
                border-top-left-radius: 50px;
                border-bottom-left-radius: 50px;
                padding: 10px 20px;
            }

        }

        .btn {
            width: 100%;
            padding: 10px 20px;
        }

    }

    .row {
        border-bottom: 1px solid #344537;
    }
}

.cdCopyright {
    background-color: #000000;

    .cdCopyrightText {
        font-family: 'Work Sans', sans-serif;
        font-size: 12px;
    }
}