nav {
    font-family: 'Work Sans', sans-serif;
    font-size: 14px;

    .cdUserNav {
        padding: 15px;
        border-bottom: 1px solid #eeeeee;
        font-family: 'Work Sans', sans-serif;
    
        .cdInputGroup {
            width: 80%;
    
            .cdInputGroupIcon {
                border-top-left-radius: 50px;
                border-bottom-left-radius: 50px;
                border: none;
                background-color: #F3F4F3;
        
                .fa-magnifying-glass {
                    font-size: 0.7rem;
                }
            }
        
            .cdInputGroupText {
                border: none;
                border-top-right-radius: 50px;
                border-bottom-right-radius: 50px;
                background-color: #F3F4F3;
            }
        
        }
    }
    
    .cdMenuNav {
        border-bottom: 1px solid #eeeeee;
        font-weight: 600;
    }

}
